<h1 id="login_title">Welcome to <span id="logo">PointBox</span></h1>

<h5 id="login_intro">Please <%= link_to "login", login_path %> to see your points and rewards.</h5>
<h5 id="login_intro">If you don't have a login, <%= link_to "create one now!", new_user_path %></h5>